<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="primary" class="justify-content-between">
      <span>Menú</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      > 
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary" class="flex justify-content-between px-4">
    <div class="flex align-items-center gap-3">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <img
        src="https://static.wikia.nocookie.net/monsterhigh/images/d/d1/Logo_-_Skullette.png"
        alt="Logo"
        style="height: 40px; border-radius: 4px;"
      />
      <span class="font-bold text-xl">Monstruitas App</span>
    </div>
    <div class="flex align-items-center gap-3">
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <span *ngIf="user">{{ user.email }}</span>
      <button mat-icon-button (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    
  </mat-toolbar>
  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

