<div class="flex flex-column p-2">
    <h4>Buscador</h4>
    <mat-form-field>
      <mat-label>Buscador de héroes</mat-label>
      <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchHero()"
      [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption($event)">
        <mat-option *ngFor="let hero of muniecas" [value]="hero">
          {{ hero.Nombre }}
        </mat-option>
        <mat-option *ngIf="muniecas.length === 0 && searchInput.value && searchInput.value.length > 0" value="">
          No se encontró el término de búsqueda {{ searchInput.value }}
        </mat-option>
  
      </mat-autocomplete>
  
    </mat-form-field>
    <div class="grid mb-8">
        <div *ngFor="let munieca of muniecas" class="col-12 sm:col-4 md:col-3 xl:col-2">
          <app-card [munieca]="munieca"></app-card>
        </div>
      </div>
  
  </div>
